body{
  font-family: "Montserrat", sans-serif;
  background-color: aliceblue;
}
img{
  width: 100%;
  vertical-align: top;
}
a{
  font-size: 0.8rem;
}
.presentacion{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; /*Si no cabe en una fina que tome las que sean necesarias*/
  justify-content: space-between; /* Se ajuste a nivel horizontal*/
}
.usuario{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px dotted black;
  box-sizing: border-box;
  width: 49.5%;
}
.foto{
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden; /*Esquinas de las fotos de vean redondeadas*/
  margin-right: 20px;
  width: 170px;
}
button{
  padding:  6px 12px;
  outline: none; /* cuando se clique no tenga el borde seleccionado*/
  border-radius: 3px;
  width: 98px;
  margin: 4px;
  cursor: pointer;
}
.rojo{
  background-color: rgb(227, 28, 28);
  border: 1px solid rgb(235, 162, 162);
  color: white;
}
.rojo:hover{ /* Al pasar el mouse por encima cambia el color*/
  background-color: rgb(206, 91, 91);
  border-radius: 10px;
  color: white;
}
.verde{
  background-color: rgb(4, 195, 4);
  border: 1px solid greenyellow;
  color: white;
}
.verde:hover{ /* Al pasar el mouse por encima cambia el color*/
  background-color: rgb(111, 164, 111);
  color: white;
  border-radius: 10px;
}
.datos{
  flex: 1;
}
.botones{
width: 110px;
}